@import url(https://fonts.googleapis.com/css?family=Cairo:100,300,400,700);
@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');



/*
 * RESET 
 */
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}nav ul{list-style-type:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
 * } RESET 
 */

html {
    min-height: 100%;
    position: relative;
    }

body{
    background-color: #FCFEFE;
    font-family: Cairo, Helvetica, Arial, sans-serif;
    color: #212121;
    margin: 0 0 100px; /*Footer margin*/
    }

p{
    line-height: 1.5;
    }



/*
    NAVIGATION
                */

.sectionNav {
    height: 50px;
    width:100%;
    text-align: right;
    font-size: 0;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    z-index: 999;
    }

.sectionNav li {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    }

.sectionNav ul a {
    display: block;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: #333;
    transition: color .4s;
    }
    .sectionNav a:hover {
        color: #4DB6AC;
        }

.sectionNav .itemSelected {
    color: #2E9B8F;
    cursor: default
    }

.SectionNav #iconMenu{
    display: none
    }




/*
    HERO SECTION
 
                */
.ca-hero{
    padding-top: 100px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    }

.ca-hero h1 {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    line-height: 180px;
    font-size: 100px;
    margin-bottom: 80px;
    position: relative;
    }

.ca-hero span{
    opacity: 0;
    animation: introLogo 1.5s forwards;
    animation-delay: 1.5s;
    }
    @keyframes introLogo{
        to{
            opacity:1;
        }
    }

.ca-decoration{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 45px;
    left: -10px;
    border-left: 8px solid transparent;
    animation: revealBorderLeft 1s forwards;
    animation-delay: 2.3s;
    }
    .ca-decoration:before{
        position: absolute;
        width: 100px;
        height: 90px;
        left: -8px;
        content: '';
        transform: rotate(-30deg);
        transform-origin: 0 0;
        border-top: 8px solid transparent;
        animation: revealBorderTop 1s forwards;
        animation-delay: 2s;
        }
    .ca-decoration:after{
        position: absolute;
        width: 100px;
        height: 90px;
        top:-7px;
        left:-4px;
        content: '';
        transform: rotate(30deg);
        transform-origin: 0 90px;
        border-bottom: 8px solid transparent;
        animation: revealBorderBottom 1s forwards;
        animation-delay: 2.6s;
        }

        @keyframes revealBorderTop{
            to{
                border-top: 8px solid #4DB6AC;
            }
        }
        @keyframes revealBorderBottom{
            to{
                border-bottom: 8px solid #4DB6AC;
            }
        }
        @keyframes revealBorderLeft{
            to{
                border-left: 8px solid #4DB6AC;
            }
        }
        

.ca-decorationSubtle{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    left: -20px;
    border-left: 3px solid #6D4C41;
    animation: introSubtle 1.5s forwards ease;
    }
    .ca-decorationSubtle:before{
        position: absolute;
        width: 110px;
        height: 100px;
        left: -3px;
        content: '';
        transform: rotate(-30deg);
        transform-origin: 0 0;
        border-top: 3px solid #6D4C41;
        }
    .ca-decorationSubtle:after{
        position: absolute;
        width: 110px;
        height: 100px;
        top:-2px;
        left: 3px;
        content: '';
        transform: rotate(30deg);
        transform-origin: 0 90px;
        border-bottom: 3px solid #6D4C41;
        }
        @keyframes introSubtle{
            from{
                opacity: 0;
                transform: rotate(0);
            }

            50%{
               transform: rotate(0);
               opacity: 1; 
            }
            to{
                transform: rotate(360deg);
                transform-origin: 110px 50px;
            }
        }

.ca-hero h2{
    font-size: 40px;
    font-weight: 300;
    opacity: 0;
    animation : introName 4s forwards;
    animation-delay: 2.5s;
    letter-spacing: 2px;
    }
    @keyframes introName{
        from{
            transform: translateY(-75px);
        }
        
       to{
            opacity:1;
        }
    }



/*
    MAIN SECTION
                         */

/* Button styles */
.panelButton {
    height: 50px;
    width: 50px;
    left: 50%;
    margin-bottom: 50px;
    display: inline-block;
    background-image: url(ui-img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    opacity: .4;
    cursor: pointer;
    position: relative;
    transform: translate(-50%);
    transition: all .5s;
    }
    .panelButton:hover {
        opacity: 1;
        }

.panelButton:not(.rotated):before {
    content:'Who am I?';
    height: 50px;
    line-height: 60px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 52%;
    top: 30px;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity .5s;
    }
    .panelButton:hover:before {
        opacity: 1;
    }

.rotated {
    transform: translate(-50%) rotate(-180deg);
    }


/*Panel styles*/

.ca-contentGeneral {
    background-color: #E4F4F3;
    display: none;
    text-align: center;
    }

.ca-panelSect {
    padding: 90px 90px 5px 90px;
    font-size: 0;
    margin:0 auto;
    padding-bottom: 90px;
    }

.ca-panelSect:not(.ca-aboutPanel) {
    text-align: left;
    }

.ca-panelSect p{
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    }

.ca-panelSect h2{
    font-size: 60px;
    font-weight: 300;
    color: #4DB6AC;
    margin-bottom: 70px;
    }

.ca-panelSect:not(.ca-aboutPanel) h3{
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    font-weight: 300;
    color: #866F67;
    padding-left: 80px;
    margin-bottom: 30px;
    }
    #ca-educationTitle {
        background-image: url(ui-img/education.png);
        background-repeat: no-repeat;
        background-size: contain;
        }

    #ca-experienceTitle {
        background-image: url(ui-img/work.png);
        background-repeat: no-repeat;
        background-size: contain;
        }


.ca-column{
    width:50%;
    min-width: 500px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 40px;
    vertical-align: top;
    margin-bottom: 20px;
    }

.ca-column .ca-2colR{
    width:50%;
    display: inline-block;
    text-align: right;
    }
.ca-column .ca-2colL{
    width:50%;
    display: inline-block;
    text-align: left;
    }
.ca-column ul{
    padding: 0 80px;
    list-style-position: inside;
    }

.ca-column li{
    font-size: 17px;
    color: #333;
    height: 36px;
    font-family: 'Lato', sans-serif;
    }


/* About me section */
.ca-portraitContainer{
    margin-bottom: 25px;
    text-align: center;
    position:relative;
    }

.ca-aboutPanel h2.greeting{
    font-size: 100px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #4DB6AC
    }

.ca-aboutPanel h3{
    font-size: 60px;
    }
    .ca-aboutPanel > h3 > span{
        font-weight: 700;
        }

.ca-aboutPanel h4{
    font-size: 35px;
    color:#666;
    margin-bottom: 50px;
    }

.ca-portrait {
    display: inline-block;
    opacity: .3;
    vertical-align: top;
    }



.ca-columnP, .ca-columnPNoDecoration {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    width:50%;
    padding-left: 20px;
    margin-left: 20px;
    vertical-align: top;
    position: relative;
    padding-bottom: 20px;
    }
    .ca-columnP:before {
        content: '';
        width: 4px;
        height: 60px;
        background-color:  #009688;
        position: absolute;
        top: 0;
        left: -2px;
        }


/* Career Section */

.ca-careerPanel {
    background-color: #4E918C;
    position:relative;
    }
    .ca-careerPanel:after{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 60px;
        bottom: -40px;
        left: 0;
        background-color: #4E918C;
        transform: skewY(1deg);
        z-index: 1;
        }

    .ca-careerPanel:before{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 60px;
        top: -40px;
        left: 0;
        background-color: #4E918C;
        transform: skewY(1deg);
        z-index: 1;
        }

    .ca-careerPanel h2{
        color: #E4F4F3
        }

.ca-careerPanel .ca-column h3 {
    color:#E4F4F3
    }


.ca-careerItem {
    margin-bottom: 30px;
    }

.ca-careerItem p {
    font-size: 16px;
    color: #BBDEDB;
    font-family: 'Lato', sans-serif;
    }

.ca-careerItem h4{
    font-size: 23px;
    margin-bottom: 10px;
    color:#E4F4F3
    }


/*
    SKILLS SECTION

                    */

.ca-skillsPanel{
    padding-bottom: 220px
    }

.ca-skillsPanel li{
    list-style: none;
    padding: 2px 0
    }

#ca-frontendTitle {
    background-image: url(ui-img/frontend.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    }

#ca-backendTitle {
    background-image: url(ui-img/backend.png);
    background-repeat: no-repeat;
    background-size: contain;
    }




/*
    FOOTER SECTION

                    */

.ca-footerContact{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #009688;
    opacity: 0;
    animation: reveal 1s forwards;
    animation-delay: 2.5s;
    text-align: center;
    }
    @keyframes reveal{
           to{
                opacity:1;
            }
        }

.ca-footerContact:before{
    content: '';
    position: absolute;
    width: 100%;
	height: 60px;
    top:-30px;
    left: 0;
    background-color: #009688;
    transform: skewY(1deg);
    z-index: -1;
    }

.ca-footerContact li{
    display: inline-block;
    margin: 0 5px;
    opacity: .6;
    transition: all .5s;
    }
    .ca-footerContact li:hover{
    display: inline-block;
    margin: 0 5px;
    opacity: 1
}


/* Responsive */

@media all and (max-width: 575px) {
    
    
    .sectionNav {  
        min-height: 50px;
        }
    
    .sectionNav ul{
        display: none;
        }
    
    .sectionNav ul.visible{
        display: block;
        }
    
    .sectionNav li {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        }

    #iconMenu {
        display: block;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 30px;
        background-image: url(ui-img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        cursor: pointer
        }
    
    .ca-portraitContainer{
        width: 100%;
        text-align: center
        }
    
    .ca-portraitContainer img{
        max-width: 80%;      
        }

    .ca-columnP, .ca-columnPNoDecoration {
        display: block;
        width:80%;
        }

    .ca-column{
        width:100%;
        min-width: 100%;
        display: block;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 30px;
        }

    .ca-panelSect {
        padding: 90px 10px 5px 20px;
        font-size: 0;
        margin:0 auto;
        padding-bottom: 90px;
        }

    .ca-column ul{
        text-align: center;
        padding: 10px 0;
        list-style-position: inside;
        }
    
    .ca-careerItem {
        margin-bottom: 60px;
        }
}



